/* Body */

body {
    background-image: url('../images/social_media.png');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    background-attachment: fixed;
}


div {
    width: 100%;
    margin: 0 auto;
}

/* Box */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 33px;
    padding-top: 5px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}