/* Body */

body {
    background-image: url('../images/social_media.png');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    background-attachment: fixed;
}

/* Pass */

.div_pass {
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;
    background: transparent;
}

.title {
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 41px;
    display: block;
}