/* Body */

body {
    background-image: url('../images/social_media.png');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    background-attachment: fixed;
}

div {
    width: 100%;
    margin: 0 auto;
}

/* Pass */

.div_pass {
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;
    background: transparent;
}

.title {
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 41px;
    display: block;
}

form {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}


/* Inputs */

.div_input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 29px 0;
}

.input {
    outline: none;
    border: none;

    font-size: 20px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 10px 0 80px;
}

.spam_input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.spam_input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    background: #d41872;
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);
}

.spam_input::after {
    font-size: 18px;
    color: #999999;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 35px;
}

.input:focus + .spam_input::after {
    
    left: 23px;
    color: #d41872;
}

.input:focus + .spam_input::before {
    width: 100%;
}



/* button */

button {
    outline: none;
    border: none;
    background: transparent;
}

.div_btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background-color: #555555;
    opacity: 0;
}

.btn {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    margin-top: 32px;
    background: #d41872;
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);
    position: relative;
    z-index: 1;
}

.btn:hover:before {
    opacity: 1;
}

/* Box */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 33px;
    padding-top: 5px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.box::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
}